* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-main: rgba(33, 37, 41, 1);
    --clr-accent: rgba(221, 215, 192, 1);
    --clr-red: rgba(225, 58, 58, 1);
    --clr-yellow: rgba(249, 198, 123, 1);
}

html {
    font-family: "Roboto", sans-serif;
    font-size: clamp(0.5rem, 0.75rem + 1vw, 1.5rem);
    font-weight: 400;
}

body {
    padding-inline: 1rem;
    padding-block-start: 0.5rem;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    inline-size: clamp(26px, 5vw, 48px);
    block-size: auto;
    align-self: flex-start;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 232, 232, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

ul {
    list-style: none;
}

li {
    margin-block-end: 2rem;
    text-align: center;
}

header a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.show {
    opacity: 1;
    visibility: visible;
}

.close {
    content: url('media/close.svg');
}

header span {
    display: none;
}

header button {
    background: none;
    border: none;
    display: inline-flex;
    z-index: 1;
}

.burger-menu {
    inline-size: clamp(26px, 5vw, 48px);
    block-size: auto;
}

/* Main info */

main {
    margin-block-start: 1.5rem;
}

.main-info {
    margin-block-end: 3rem;
}

.main-info h1 {
    text-transform: uppercase;
    margin-block-end: 1.25rem;
    font-size: 2rem;
}

.main-info p {
    margin-block-end: 1.5rem;
}

.order-button {
    color: black;
    text-transform: uppercase;
    text-underline-offset: 4px;
    font-size: 1.2rem;
}

.img-tinyscreen {
    margin-block-start: 1.5rem;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center 65%;
}

.img-widewidth {
    display: none;
}

/* About company */

.about-company {
    margin-block-end: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.about-company h2 {
    margin-block-end: 1.5rem;
    max-width: 70%;
}

.content p {
    margin-block-end: 1rem;
}

.content h3 {
    margin-block-start: 1.5rem;
}

.about-company h2 + h2 {
    display: none;
}

/* How works */

.how-works {
    margin-block-end: 3rem;
}

.how-works > p {
    margin-block-start: 1.25rem;
    margin-block-end: 1.75rem;
}

.how-works h3 {
    margin-block: 1.25rem;
}

.how-works h3 + p {
    border-bottom: 1px solid black;
    padding-bottom: 1.25rem;
}

/* Projects */

.projects-section {
    margin-block-end: 3rem;
}

.projects-section h2 {
    margin-block-end: 1.25rem;
}

.projects-container {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* Включает плавную прокрутку на сенсорных устройствах */
}

.projects-container::-webkit-scrollbar {
    display: none; /* скрыть полосы прокрутки */
}

.project {
    position: relative;
    flex: 0 0 70%;
}

.project img {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 3px;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem 0.75rem;
    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: visibility 0.7s ease, opacity 0.7s ease;
}

.project.visible .overlay {
    visibility: visible;
    opacity: 1;
}

.overlay img {
    aspect-ratio: initial;
    inline-size: 12px;
    block-size: auto;
}

/* Reviews */

.reviews {
    margin-block-end: 3rem;
}

.reviews h2 {
    margin-block-end: 1.25rem;
}

.review {
    padding: 2.375rem 2rem;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}

.review + .review {
    margin-block-start: 1rem;
}

.review img {
    margin-block-end: 2rem;
}

.reviewer-name {
    font-weight: bold;
    margin-block-end: 1.25rem;
    font-size: 18px;
}

/* Request */

.request {
    font-size: 16px;
}

.request h2{
    margin-block-end: 1.25rem;
}

.request p {
    margin-block-end: 2rem;
}

label {
    display: block;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-block-end: 1rem;
}
input:focus {
    outline: none;
    border-bottom: 2px solid #333;
}
.submit-button {
    background-color: rgb(41, 41, 41);
    border: none;
    color: rgb(255, 255, 255);
    padding: 0.7rem 1.2rem;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    font-size: 16px;
}
.submit-button:hover {
    background-color: #bbb;
}

form {
    margin-block-end: 1.7rem;
}

.request-widescreen {
    display: none;
}

@media (min-width:716px) {
    .main-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr;
    }
    .img-tinyscreen {
        aspect-ratio: 3/4; 
        grid-row: 2/4;
        grid-column: 2/3;
        align-self: flex-end;
    }
    .img-widewidth {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
        grid-row: 3/4;
        grid-column: 1/2;
        align-self: flex-end;
    }
    .main-info h1 {
        grid-row: 1/2;
        align-self: flex-end;
        margin-block-end: 0;
    }
    .main-info p{
        grid-row: 2/3;
        grid-column: 1/2;
        max-width: 70%;
        margin-block-start: 1rem;
    }
    .order-button {
        grid-row: 1/2;
        grid-column: 2/3;
        align-self: flex-end;
        justify-self: end;
    }
    input {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .about-company {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about-company h2 {
        grid-column: 1 / 2;
    }
    
    .about-company .content {
        grid-column: 2 / 3;
    }

    nav {
        transition: none;
    }

    .about-company h2 {
        display: none;
    }

    .about-company h2 + h2 {
        display: block;
        font-size: 2rem;
    } 
    
    .how-works {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 1fr;
    }

    .how-works h2 {
        align-self: flex-end;
    }

    .how-works > p {
        align-self: flex-end;
        margin: 0;
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .alg-points {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .alg-points .point:first-of-type {
        margin-block-start: 2.25rem;
    }
    
    .request {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .request-widescreen {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        grid-column: 1/2;
        max-width: 80%;
    }

    .request-info {
        grid-column: 2/3;
    }
}

@media (min-width: 1024px) {
    nav {
        position: static;
        background: none;
        height: auto;
        opacity: 1;
        visibility: visible;
        margin-inline-start: 40%;
    }

    li {
        margin: 0;
        text-align: left;
    }

    header a {
        text-transform: initial;
        font-size: 0.75rem;
    }

    header button {
        display: none;
    }

    header span {
        display: block;
        flex-shrink: 0;
        align-self: flex-start;
        font-size: 0.75rem;
    }

    .projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .overlay {
        bottom: 7px;
    }

    .project:hover .overlay {
        visibility: visible;
        opacity: 1;
    }

    .review {
        padding: 2.5rem 1.7rem;
    }

    .reviews h2 {
        margin-block-end: 2rem;
    }

    .reviews-container {
        display: flex;
        gap: 1.25rem;
    }

    .review img {
        margin-block-end: 1.3rem;
    }

    .reviews-container > * {
        flex: 1 0;
    }

    .review + .review {
        margin: 0;
    }

    .reviewer-name {
        margin-block-end: 0.85rem;
    }
    
}

@media (min-width: 1200px) {
    .main-info h1 {
        font-size: 2.5rem;
    }

    .how-works h3 + p {
        border: initial;
    }
    
    .point {
        display: grid;   
        grid-template-columns: 1fr 1fr;  
        border-bottom: 1px solid black; 
        margin-block-end: 1rem;
    }
    
    .point h3 {
        margin: 0 1rem 0 0;
        align-self: flex-start;
        line-height: 2rem;
    }

    .how-works h3 + p {
        align-self: center;
        font-size: 0.7rem;
        line-height: 0.9rem;
    }
    
}

@media (min-width: 1422px) {
    .main-info h1 {
        font-size: 3rem;
    }
    .main-info p{
        font-size: 0.85rem;
    }
    .order-button {
        font-size: 0.75rem;
    }
    .content p {
        max-width: 60%;
    }

    .projects-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .submit-button {
        width: 30%;
    }
}