body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-main: rgba(33, 37, 41, 1);
    --clr-accent: rgba(221, 215, 192, 1);
    --clr-red: rgba(225, 58, 58, 1);
    --clr-yellow: rgba(249, 198, 123, 1);
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.logo  {
    width: 70px;
    height: 74px;
}

.container{
    max-width: 1376px; 
    margin: 0 auto;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
}
.header_menu{
    display: flex;
    gap: 0 200px;
}
li {
    list-style: none;
    margin-bottom: 8px;
}

.menu_ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.num_header{
    margin: 0;
}


main {
    margin-inline: 1rem;
}

.about-company h2 {
    margin-block-end: 1.5rem;
    max-width: 70%;
}

.content p {
    margin-block-end: 1rem;
}

.content h3 {
    margin-block-start: 1.5rem;
}

h2 + h2 {
    display: none;
}

@media (min-width: 900px) {
    .about-company {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .about-company h2 {
        grid-column: 1 / 2;
    }
    
    .about-company .content {
        grid-column: 2 / 3;
    }

    h2 {
        display: none;
    }

    h2 + h2 {
        display: block;
    }   
}